%section.book-info
  = image_tag "importance-of-ernest.jpg", class: "book-info--img", alt: "The Night Circus Book Cover"
  .book-info--description
    .title
      = link_to "The Importance of Beaing Earnest", "http://en.wikipedia.org/wiki/The_Importance_of_Being_Earnest", target: "_blank"
    .by
      = link_to "Oscar Wilde", "http://en.wikipedia.org/wiki/Oscar_Wilde", target: "_blank"
    .info
      .started
        Started:
        = link_to "4-7-2015", "http://www.meetup.com/pen_and_lens/events/220352073/", target: "_blank"
      .finish
        Finish By:
        = link_to "4-21-2015", "http://www.meetup.com/pen_and_lens/events/221690689/", target: "_blank"
      .recommended
        Recommended By:
        = link_to "Tiffany Rummel", "http://www.meetup.com/pen_and_lens/members/183242533/", target: "_blank"
      .available
        Available At:
        %ul
          %li= link_to "Amazon", "http://www.amazon.com/Importance-Being-Earnest-Oscar-Wilde/dp/0486264785/", target: "_blank"
          %li= link_to "Kindle", "http://www.amazon.com/Importance-Being-Earnest-Oscar-Wilde-ebook/dp/B008TVDBD0/", target: "_blank"
          %li Greensburg Area Library
          %li= link_to "Barnes & Noble", "http://www.barnesandnoble.com/w/importance-of-being-earnest-oscar-wilde/1100199158", target: "_blank"
%section.discussion-info
  .discussion-info--resources
    .title
      Resources
    .list
      %ul
        %li= link_to "Discussion Board", "#Not_launched", target: "_blank"
