---
title: Book Club
---
.reading-list
  .title
    Reading List
  %ol{reversed: :reversed}
    %li= link_to "The Importance of Being Earnest - Oscar Wilde", "books/the-importance-of-being-earnest.html"
    %li= link_to "Pygmalion - George Bernard Shaw", "books/pygmalion.html"
    %li= link_to "The Night Circus - Erin Morgenstern", "books/the-night-circus.html"
    %li= link_to "1984 - George Orwell", "books/1984.html"
    %li= link_to "The Bell Jar - Sylvia Plath", "books/the-bell-jar.html"
    %li= link_to "The Alchemist - Paulo Coelho", "books/the-alchemist.html"

  .title
    Upcoming
  %ol
    %li= link_to "The Handmaid's Tale - Margaret Atwood", "books/the-handmaids-tale.html"
    %li= link_to "Candide - Voltaire", "books/candide.html"
    %li= link_to "No Exit - Jean-Paul Sartre", "books/no-exit.html"
